$medium: 1024;
$small: 768;
$main-dark-gray: #1a1a25;
$minor-gray: #2a2c38;
$button-gray: #384255;
$light-gray: #858fa4;
$bg-color: #e5e5e5;
$card-bg: #f0f1f7;
$text-gray: #f7f7f7;
$white: #ffffff;
$red: #f53b49;
$blue: #4b7ee8;
$green: #2fc509;
