/*@mixin screen-max($mobile) {
  @media (max-width: $mobile - 1 + "px") {
    @content;
  }
}

@mixin screen-max($tablet) {
  @media (max-width: $tablet - 1 + "px") {
    @content;
  }
}

@mixin screen-min($width) {
  @media (min-width: $width + "px") {
    @content;
  }
}*/

/*@mixin screen-max($width) {
  @media (max-width: $width - 1 + "px") {
    @content;
  }
}

@mixin screen-min($width) {
  @media (min-width: $width + "px") {
    @content;
  }
}
*/

html {
  line-height: 1.15;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button {
  padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:active,
a:active,
input:active,
textarea:active {
  outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter Regular"), url("../../fonts/Inter-Regular.ttf") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local("Inter Bold"), url("../../fonts/Inter-Bold.ttf") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  color: #1a1a25;
  background-color: #858fa4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
}

.container_wide {
  max-width: 1500px;
}

input[type="text"],
input[type="phone"],
input[type="email"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type="text"]:focus,
input[type="phone"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.hide {
  display: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header {
  background-color: #1a1a25;
  color: #858fa4;
  position: relative;
}

.header-border {
  width: 100%;
  height: 1px;
  background-color: rgba(133, 143, 164, 0.15);
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0 28px;
}

.header-logo {
  margin-right: 50px;
}

.header-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 229px;
  cursor: pointer;
}

.header-city__item {
  margin-right: 10px;
  white-space: nowrap;
}

.header-city__img {
  width: 6px;
  height: 6px;
}

.header__link {
  color: #858fa4;
  margin-right: 30px;
  white-space: nowrap;
}

.header__button {
  margin-right: 61px;
  white-space: nowrap;
}

.header-phone {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 61px;
}

.header-phone-choosen {
  margin-right: 26px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.header-phone-choosen__item {
  margin-right: 4px;
}

.header-phone__img {
  width: 6px;
  height: 6px;
}

.header-phone__button {
  white-space: nowrap;
}

.header-phone-open {
  width: 210px;
  position: absolute;
  padding: 5px 39px 7px 12px;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 10px 30px rgba(133, 143, 164, 0.1);
          box-shadow: 0px 10px 30px rgba(133, 143, 164, 0.1);
  border-radius: 5px;
  top: -25px;
  left: -25px;
}

.header-phone-open__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #384255;
  padding: 10px 5px 5px;
}

.header-phone-open__item_light {
  font-size: 12px;
  color: #909cb5;
}

.header-phone-open__item:not(:last-child) {
  border-bottom: 1px solid rgba(133, 143, 164, 0.15);
}

.header-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-sign__button {
  margin-right: 14px;
}

.header-sign__img {
  width: 20px;
  height: 20px;
}

.header-navigation {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-navigation-buttons {
  margin-right: 48px;
}

.header-navigation-buttons:after {
  content: "";
  display: block;
  width: 1px;
  height: 40px;
  background-color: rgba(133, 143, 164, 0.15);
  border-radius: 1px;
  margin-left: 30px;
  -ms-flex-item-align: center;
      align-self: center;
}

.header-navigation-buttons__catalog {
  margin-right: 51px;
}

.header-navigation-buttons-search {
  border-right: 1px solid rgba(133, 143, 164, 0.15);
  padding: 5px;
  width: 52px;
  height: 40px;
}

.header-navigation-buttons-search__img {
  width: 52px;
  height: 40px;
}

.header-navigation-nav {
  margin-right: 214px;
}

.header-navigation-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header-navigation-buttons-item {
  position: relative;
  font-size: 10px;
  line-height: 12px;
}

.header-navigation-buttons-item:not(:last-child) {
  margin-right: 47px;
}

.header-navigation-buttons-item__img {
  opacity: 0.7;
}

.header-navigation-buttons-item__img:hover {
  opacity: 1;
}

.header-navigation-buttons-item__img_comparison {
  width: 17px;
  height: 17px;
}

.header-navigation-buttons-item__img_favorite {
  width: 24px;
  height: 20px;
}

.header-navigation-buttons-item__img_cart {
  width: 21px;
  height: 24px;
}

.header-navigation-buttons-item__span {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  padding: 2px;
  color: #ffffff;
  background-color: #f53b49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  top: -3px;
  right: -10px;
  font-size: 10px;
  line-height: 12px;
  border: 2px solid #1a1a25;
}

.header-menu {
  background-color: #2a2c38;
}

.header-menu-container {
  padding: 14px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu-item {
  color: #ffffff;
  padding-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.header-menu-item:not(:first-child) {
  padding-left: 19px;
}

.header-menu-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 1px;
  position: absolute;
  right: 0;
}

.header-menu-item__img {
  width: 6px;
  height: 4px;
  margin-left: 10px;
}

.footer {
  background-color: #1a1a25;
}

.footer-container {
  padding: 88px 0 28px;
  border-bottom: 1px solid rgba(133, 143, 164, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #858fa4;
}

.footer-container_bottom {
  padding: 51px 0;
  color: #858fa4;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 243px;
  width: 930px;
}

.footer-links-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-links-item__title {
  color: #ffffff;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.footer-links-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-links-item-list__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #858fa4;
}

.footer-links-item-list__item:hover {
  color: #ffffff;
}

.footer-links-item-list__item:not(:last-child) {
  margin-bottom: 12px;
}

.footer-contacts-block__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #858fa4;
  margin-bottom: 8px;
}

.footer-contacts-block__button {
  margin-bottom: 23px;
}

.footer-contacts-links {
  margin-top: 17px;
  font-size: 14px;
  line-height: 20px;
  color: #4b7ee8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-contacts-links__item:not(:last-child) {
  margin-bottom: 7px;
}

.footer-input {
  margin-bottom: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-input__item {
  border: none;
  outline: none;
  background-color: rgba(133, 143, 164, 0.15);
  border-radius: 5px;
  width: 255px;
  padding: 14px 34px 14px 14px;
  color: #858fa4;
}

.footer-input__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 17px;
}

.footer-input__success {
  display: none;
  position: absolute;
  bottom: -30px;
  color: #2fc509;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
}

.footer-logo {
  margin-right: 206px;
}

.footer-socials {
  margin-right: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer-socials__item {
  width: 24px;
  height: 24px;
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer__button {
  margin-right: 40px;
  white-space: nowrap;
}

.footer__button_unbordered {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #858fa4;
  margin-right: 90px;
}

.footer-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-payment__item:not(:last-child) {
  margin-right: 30px;
}

.main {
  background-color: #e5e5e5;
  padding: 39px 0 60px;
}

.modal-call-content {
  margin-top: 150px;
  max-width: 600px;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 30px rgba(133, 143, 164, 0.1);
          box-shadow: 0px 10px 30px rgba(133, 143, 164, 0.1);
  border-radius: 6px;
  padding: 18px 45px 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-call-content__title {
  margin-bottom: 20px;
}

.modal-call-content-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-call-content-form__label {
  font-size: 16px;
  line-height: 24px;
  color: #384255;
  margin-bottom: 4px;
}

.modal-call-content-form__label_red {
  color: #f53b49;
}

.modal-call-content-form__input {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid rgba(144, 156, 181, 0.5);
  background-color: #f7f7f7;
  width: 100%;
}

.modal-call-content-form__input:not(:last-child) {
  margin-bottom: 12px;
}

.modal-call-content-form-text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #858fa4;
  text-align: center;
}

.modal-call-content-form-text__link {
  color: #f53b49;
}

.modal-cart {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 30px;
  right: 40px;
  width: 500px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 30px rgba(133, 143, 164, 0.1);
          box-shadow: 0px 10px 30px rgba(133, 143, 164, 0.1);
  border-radius: 5px;
  padding: 17px 18px 22px;
}

.modal-cart-goods {
  margin-bottom: 18px;
}

.modal-cart-goods-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid rgba(133, 143, 164, 0.15);
}

.modal-cart-goods-item__img {
  width: 68px;
  height: 68px;
  margin-right: 12px;
}

.modal-cart-goods-item__name {
  font-size: 16px;
  line-height: 150%;
  margin-right: 12px;
}

.modal-cart-goods-item__price {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #384255;
  margin-right: 34px;
  white-space: nowrap;
}

.modal-cart-goods-item-button {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-cart-goods-item-button:hover .modal-cart-goods-item-button__svg {
  fill: #2a2c38;
}

.modal-cart-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.modal-cart-footer-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #1a1a25;
}

.modal-city-content {
  margin-top: 250px;
  width: 750px;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 30px rgba(133, 143, 164, 0.1);
          box-shadow: 0px 10px 30px rgba(133, 143, 164, 0.1);
  border-radius: 6px;
  padding: 20px 20px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-city-content__title {
  margin-bottom: 28px;
}

.modal-city-content-form {
  margin-bottom: 14px;
  position: relative;
}

.modal-city-content-form__input {
  background: #f7f7f7;
  border: 1px solid rgba(133, 143, 164, 0.15);
  border-radius: 5px;
  width: 100%;
  padding: 15px 20px;
}

.modal-city-content-form-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 13px;
  width: 22px;
  height: 22px;
}

.modal-city-content__text {
  color: #858fa4;
}

.modal-city-content__text_red {
  color: #f53b49;
}

.search {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  top: 89px;
}

.search-container {
  padding: 0 0 57px;
}

.search-form {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.search-form__input {
  padding: 13px 56px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(133, 143, 164, 0.15);
  background-image: url("../../images/search.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left center;
}

.search-form-button {
  width: 20px;
  position: absolute;
  right: 10px;
  top: 12px;
}

.search-form-button:hover .search-form-button__svg {
  fill: #1a1a25;
}

.search-result-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #858fa4;
  margin-bottom: 20px;
}

.search-result-header__text {
  margin-right: 30px;
}

.search-result-header__button {
  background-color: rgba(144, 156, 181, 0.2);
}

.search-result-header__button:not(:last-child) {
  margin-right: 12px;
}

.search-result-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 5px;
  border-bottom: 1px solid rgba(133, 143, 164, 0.15);
  margin-bottom: 20px;
}

.catalog {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  top: 170px;
}

.catalog:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #ffffff;
  position: absolute;
  top: -4px;
  left: 105px;
}

.catalog-container {
  padding: 16px 0 22px;
}

.catalog-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.catalog-type:after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(133, 143, 164, 0.2);
  position: absolute;
  bottom: 2px;
  z-index: 1;
}

.catalog-type__item {
  color: #1a1a25;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin-right: 36px;
  padding: 0 0 12px;
  z-index: 3;
  cursor: pointer;
}

.catalog-type__item_active {
  font-weight: 700px;
  border-bottom: 4px solid #f53b49;
}

.catalog-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-category-name {
  width: 327px;
  padding: 31px 0 0;
  border-right: 1px solid rgba(133, 143, 164, 0.2);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1a1a25;
}

.catalog-category-name__item {
  padding: 12px;
  cursor: pointer;
}

.catalog-category-name__item:hover {
  background-color: #f7f7f7;
}

.catalog-category-name__item_active {
  background-color: #f7f7f7;
}

.catalog-category-name__item_arrow {
  font-weight: 400;
  color: #909cb5;
  margin-left: 8px;
}

.catalog-category-subcategory {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 90px;
  grid-gap: 22px;
}

.catalog-category-subcategory-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 330px;
}

.catalog-category-subcategory-item__img {
  width: 90px;
  height: 90px;
}

.catalog-category-subcategory-item__title {
  width: 150px;
  font-size: 16px;
  line-height: 150%;
  color: #1a1a25;
}

.order-complete {
  position: absolute;
  top: 218px;
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
}

.order-complete-container {
  padding: 58px;
}

.order-complete-content {
  width: 800px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 30px rgba(133, 143, 164, 0.1);
          box-shadow: 0px 10px 30px rgba(133, 143, 164, 0.1);
  border-radius: 6px;
  margin: 0 auto;
  padding: 18px 18px 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-complete__title {
  margin: 108px 0 30px;
}

.order-complete__order {
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  margin-bottom: 30px;
  width: 450px;
  text-align: center;
}

.order-complete__order_red {
  color: #f53b49;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__img {
  width: 280px;
  height: 29px;
}

.logo__img_small {
  width: 275px;
  height: 34px;
}

.button {
  outline: none;
  border: none;
  background: #384255;
  border-radius: 6px;
  padding: 10px;
  color: #f7f7f7;
  line-height: 17px;
}

.button_red {
  color: #f53b49;
  background-color: transparent;
  line-height: 140%;
  padding: 0;
}

.button_unbordered {
  color: #ffffff;
  background-color: transparent;
  line-height: 140%;
  padding: 0;
}

.button_catalog {
  background-color: red;
  background-image: url("../../images/catalog.svg");
  background-repeat: no-repeat;
  background-position: 24px;
  background-size: 16px;
  padding: 16px 16px 16px 50px;
  color: #ffffff;
  border-radius: 4px;
}

.button_banner {
  padding: 13px 20px;
  border: 1px solid #f53b49;
  border-radius: 4px;
  font-weight: 700;
}

.button_round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07), 0px 0px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07), 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.button_buy {
  font-weight: 700;
  background-image: url("../../images/cart.svg");
}

.button_white {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 13px 20px;
  font-weight: 700;
  background-color: transparent;
}

.button_full-red {
  background: #f53b49;
  border-radius: 4px;
  padding: 12px 20px;
}

.button_light {
  background-color: rgba(144, 156, 181, 0.2);
  border-radius: 4px;
  color: #384255;
  font-weight: 700;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.nav__item {
  color: #ffffff;
  white-space: nowrap;
}

.nav__item:not(:last-child) {
  margin-right: 36px;
}

.category-card {
  background-color: #f0f1f7;
  width: 330px;
  height: 200px;
  border-radius: 6px;
  padding: 31px 30px;
  cursor: pointer;
}

.category-card_hight {
  height: 430px;
  padding: 36px 30px;
}

.category-card_wide {
  width: 690px;
  height: 280px;
  padding: 29px 33px;
}

.category-card_square {
  width: 330px;
  height: 280px;
}

.category-card_dark {
  background-color: #2a2c38;
}

.category-card__heading {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  width: 180px;
}

.category-card__heading_white {
  color: #ffffff;
}

.category-card__heading_wide {
  width: 230px;
}

.heading {
  font-weight: bold;
  font-size: 30px;
  line-height: 33px;
}

.heading_white {
  color: #ffffff;
}

.good-card {
  width: 300px;
  background-color: #ffffff;
  border-radius: 6px;
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.good-card:hover {
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0px 4px 30px rgba(19, 15, 38, 0.1));
          filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0px 4px 30px rgba(19, 15, 38, 0.1));
}

.good-card:hover .good-card-icons-item_blue {
  left: 46px;
}

.good-card:hover .good-card-icons-item_green {
  left: 92px;
}

.good-card_seacrh {
  width: 210px;
}

.good-card_seacrh:hover {
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0px 2px 5px rgba(19, 15, 38, 0.1));
          filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0px 2px 5px rgba(19, 15, 38, 0.1));
}

.good-card-icons {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.good-card-icons-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.good-card-icons-item {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.good-card-icons-item_comparison {
  background-color: transparent;
  right: 30px;
}

.good-card-icons-item_favorite {
  background-color: transparent;
  right: -6px;
}

.good-card-icons-item__img_discount {
  width: 14px;
  height: 13px;
}

.good-card-icons-item__img_choice {
  width: 13px;
  height: 14px;
}

.good-card-icons-item__img_new {
  width: 27px;
  height: 11px;
}

.good-card-icons-item__img_comparison {
  width: 17px;
  height: 17px;
}

.good-card-icons-item__img_favorite {
  width: 20px;
  height: 17px;
}

.good-card-icons-item_red {
  background-color: #f53b49;
  z-index: 2;
}

.good-card-icons-item_blue {
  background-color: #4b7ee8;
  left: 25px;
  z-index: 3;
}

.good-card-icons-item_green {
  background-color: #2fc509;
  left: 50px;
  z-index: 4;
}

.good-card__image {
  width: 300px;
  height: 300px;
  border-radius: 6px 6px 0 0;
}

.good-card__image_search {
  width: 210px;
  height: 210px;
}

.good-card-description {
  padding: 20px;
}

.good-card-availibility {
  margin-bottom: 8px;
}

.good-card-availibility_available {
  color: #2fc509;
  margin-right: 6px;
}

.good-card-availibility_blue {
  color: #4b7ee8;
  margin-left: 8px;
}

.good-card__heading {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 8px;
}

.good-card__heading_search {
  font-size: 14px;
  line-height: 20px;
}

.good-card-rating {
  color: #909cb5;
  margin-bottom: 18px;
}

.good-card-rating_search {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 16px;
}

.good-card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.good-card-price__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
}

.good-card-price__item_search {
  color: #1a1a25;
}

.good-card-price__item_crossed {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-decoration: line-through;
  color: #858fa4;
}

.news-card {
  width: 315px;
  background-color: #e5e5e5;
}

.news-card__img {
  width: 315px;
  height: 260px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.news-card__heading {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}

.news-card__paragraf {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  width: 250px;
}

.news-card__paragraf_light {
  opacity: 0.5;
}

.modal {
  width: 100vw;
  height: 100%;
  background-color: rgba(26, 26, 37, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 100;
}

.modal_active {
  opacity: 1;
  pointer-events: all;
}

.modal-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 4px;
}

.modal-button:hover .modal-button__svg {
  fill: #2a2c38;
}

.modal__title {
  font-size: 30px;
  line-height: 33px;
  font-weight: 700;
}

.banner {
  background-color: #858fa4;
  background-image: url("../../images/banner-run.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.banner-container {
  padding: 83px 203px 30px 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-content {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 512px;
}

.banner-content__heading {
  font-weight: 900;
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.banner-content__heading_light {
  font-weight: 400;
  margin-bottom: 0;
}

.banner-content__heading_red {
  font-size: 24px;
  line-height: 26px;
  color: #f53b49;
}

.banner-content__button {
  margin-bottom: 50px;
}

.banner-buttons {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.banner-buttons__item {
  font-weight: 700;
}

.banner-buttons__item:not(:last-child) {
  margin-right: 10px;
}

.home {
  padding: 120px 0 60px;
}

.home__heading {
  margin-bottom: 30px;
}

.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 30px;
  margin-bottom: 30px;
}

.home-cards__item {
  background-image: url("../../images/card-small-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.home-cards__item_one {
  grid-row-start: 1;
  grid-row-end: 3;
}

.home-cards__item_two {
  grid-row-start: 1;
  grid-row-end: 3;
}

.home-cards__item_hight {
  background-size: cover;
  background-image: url("../../images/card-hight-white.jpg");
}

.discount-container {
  padding: 124px 0 103px;
}

.discount-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.discount-heading__heading {
  margin-right: 30px;
}

.discount-heading-buttons {
  padding-top: 5px;
}

.discount-heading-buttons__item {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #828282;
}

.discount-heading-buttons__item:not(:last-child) {
  margin-right: 30px;
}

.discount-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 30px;
  margin-bottom: 30px;
}

.clubs {
  padding: 60px 0 30px;
  border-bottom: 1px solid rgba(133, 143, 164, 0.2);
}

.clubs__heading {
  margin-bottom: 30px;
}

.clubs-cards {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 280px;
  grid-gap: 30px;
}

.clubs-cards__item_one {
  grid-column-start: 1;
  grid-column-end: 3;
}

.ideas {
  background-color: #1a1a25;
}

.ideas-container {
  padding: 119px 0 102px;
}

.ideas__heading {
  margin-bottom: 30px;
}

.ideas-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 30px;
  margin-bottom: 30px;
}

.ideas-block-item {
  border-radius: 6px;
  cursor: pointer;
}

.ideas-block-item__img {
  border-radius: 6px;
}

.brands {
  border-bottom: 1px solid rgba(133, 143, 164, 0.2);
}

.brands-container {
  padding: 120px 0 30px;
}

.brands__heading {
  margin-bottom: 30px;
}

.brands-buttons {
  margin-bottom: 30px;
}

.brands-buttons__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
}

.brands-buttons__item:not(:last-child) {
  margin-right: 30px;
}

.brands-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 170px;
  margin-bottom: 30px;
}

.brands-cards-item {
  width: 282px;
  height: 170px;
  background-color: #ffffff;
  border: 1px solid rgba(133, 143, 164, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands-cards-item__img {
  width: 183px;
  height: 94px;
}

.advantages-container {
  padding: 135px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-item {
  text-align: center;
  padding: 36px 48px 40px;
  background-color: #ffffff;
  border: 1px solid rgba(133, 143, 164, 0.2);
  color: #384255;
  cursor: pointer;
  width: 354px;
  font-size: 16px;
  line-height: 24px;
}

.advantages-item:hover {
  color: #f7f7f7;
  background-color: #f53b49;
  text-align: left;
  background-image: url("../../images/advantages-hover.png");
  background-repeat: no-repeat;
  background-size: 136px 195px;
  background-position: right bottom;
}

.advantages-item:hover .advantages-item__heading {
  color: #ffffff;
}

.advantages-item:hover .advantages-item__button {
  color: #ffffff;
}

.advantages-item:hover .advantages-item__description {
  width: 170px;
}

.advantages-item:hover .advantages-item-icon__svg {
  fill: #ffffff;
}

.advantages-item-icon {
  margin-bottom: 27px;
}

.advantages-item__heading {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}

.advantages-item__description {
  margin-bottom: 20px;
}

.advantages-item__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.about {
  position: relative;
  padding: 55px 0;
}

.about-container {
  position: relative;
  padding: 25px 0;
  z-index: 4;
}

.about__heading {
  margin-bottom: 40px;
}

.about-content {
  width: 572px;
  color: #384255;
}

.about-content__subtitle {
  font-size: 34px;
  line-height: 48px;
  margin-bottom: 20px;
  font-weight: 400;
}

.about-content__item {
  font-size: 18px;
  line-height: 27px;
}

.about-content__item:not(:last-child) {
  margin-bottom: 20px;
}

.about__button {
  margin-top: 40px;
}

.about__map {
  position: absolute;
  max-width: 987px;
  width: 100%;
  height: 533px;
  background-image: url("../../images/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  right: 0px;
  top: 0px;
}

.partner-container {
  background-color: #1a1a25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 115px 0 98px;
  border-radius: 6px;
}

.partner__background {
  background-image: url("../../images/partner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 484px;
  height: 390px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.partner-content {
  width: 572px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 141px;
}

.partner-content__title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
  margin-bottom: 30px;
}

.partner-content__title_red {
  color: #f53b49;
}

.news-container {
  padding: 120px 0 60px;
}

.news-heading {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-heading__heading {
  margin-right: 30px;
}

.news-heading__button {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #828282;
  padding-top: 5px;
}

.news-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 30px;
  margin-bottom: 30px;
}