.button {
  outline: none;
  border: none;
  background: $button-gray;
  border-radius: 6px;
  padding: 10px;
  color: $text-gray;
  line-height: 17px;
  @include screen-max($small) {
    font-size: 12px;
    line-height: 15px;
  }
  &_red {
    color: $red;
    background-color: transparent;
    line-height: 140%;
    padding: 0;
  }
  &_unbordered {
    color: $white;
    background-color: transparent;
    line-height: 140%;
    padding: 0;
  }
  &_catalog {
    background-color: $red;
    background-image: url("../../images/catalog.svg");
    background-repeat: no-repeat;
    background-position: 24px;
    background-size: 16px;
    padding: 16px 16px 16px 50px;
    color: $white;
    border-radius: 4px;

    &:hover {
      background-color: $dark-red;
    }
  }
  &_banner {
    padding: 13px 20px;
    border: 1px solid $red;
    border-radius: 4px;
    font-weight: 700;
    @include screen-max($small) {
      padding: 11px 15px;
    }
    &:hover {
      background-color: $red;
      color: $white;
    }
  }
  &_round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07), 0px 0px 25px rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: $red;
      color: $white;
    }
  }
  &_buy {
    font-weight: 700;
    background-image: url("../../images/cart.svg");
  }
  &_white {
    color: $white;
    border: 1px solid $white;
    padding: 13px 20px;
    font-weight: 700;
    background-color: transparent;
    &:hover {
      background-color: white;
      color: $main-dark-gray;
    }
  }
  &_full-red {
    background: $red;
    border-radius: 4px;
    padding: 12px 20px;
  }
  &_light {
    background-color: rgba(144, 156, 181, 0.2);
    border-radius: 4px;
    color: $button-gray;
    font-weight: 700;
  }
}
