.category-card {
  background-color: $card-bg;
  width: 330px;
  height: 200px;
  border-radius: 6px;
  padding: 31px 30px;
  cursor: pointer;
  &_hight {
    height: 430px;
    padding: 36px 30px;
  }
  &_wide {
    width: 690px;
    height: 280px;
    padding: 29px 33px;
  }
  &_square {
    width: 330px;
    height: 280px;
  }
  &_dark {
    background-color: $minor-gray;
  }

  &__heading {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    width: 180px;
    &_white {
      color: $white;
    }
    &_wide {
      width: 230px;
    }
  }
}
