.logo {
  display: flex;
  &__img {
    width: 280px;
    height: 29px;
    @include screen-max($medium) {
      width: 200px;
      height: 19px;
    }
    @include screen-max($small) {
      width: 170px;
      height: 16px;
    }
    &_small {
      width: 275px;
      height: 34px;
      @include screen-max($small) {
        width: 182px;
        height: 23px;
      }
    }
  }
}
