.modal {
  width: 100vw;
  height: 100%;
  background-color: rgba(26, 26, 37, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 100;
  &_active {
    opacity: 1;
    pointer-events: all;
  }
  &-button {
    align-self: flex-end;
    margin-bottom: 4px;
    &:hover {
      .modal-button__svg {
        fill: #2a2c38;
      }
    }
  }
  &__title {
    font-size: 30px;
    line-height: 33px;
    font-weight: 700;
    @include screen-max($small) {
      font-size: 24px;
      line-height: 150%;
    }
  }
}
