.select {
  color: $light-gray;
  font-size: 14px;
  line-height: 140%;
  position: relative;
  &-choosen {
    display: flex;
    align-items: center;
    &__item {
      margin-right: 10px;
      white-space: nowrap;
      &_small {
        margin-right: 4px;
      }
    }
    &__img {
      width: 6px;
      height: 6px;
    }
  }
  &-list {
    width: 170px;
    background-color: $main-dark-gray;
    border: 1px solid $light-gray;
    border-radius: 10px;
    padding: 10px 20px;
    position: absolute;
    top: -10px;
    left: -20px;
    &_wide {
      width: 240px;
    }
    &__item {
      padding-bottom: 5px;
      white-space: nowrap;
      &:hover {
        color: $text-gray;
      }
      &_white {
        color: $white;
      }
    }
  }
}
