.tab {
  justify-content: flex-end;
  background-color: transparent;
  position: absolute;
  &-content {
    width: 500px;
    background-color: $white;
    box-shadow: 0px 10px 30px rgba(133, 143, 164, 0.1);
    border-radius: 5px;
    padding: 17px 18px 22px;
    margin-top: 150px;
    @include screen-max($medium) {
      margin-top: 60px;
    }
    @include screen-max($small) {
      width: 300px;
      margin-top: 50px;
    }
  }
  &__message {
    text-align: center;
    vertical-align: middle;
  }
  &-goods {
    margin-bottom: 18px;
    &-item {
      display: flex;
      padding: 10px 0;
      border-bottom: 1px solid rgba(133, 143, 164, 0.15);
      @include screen-max($small) {
        display: grid;
        grid-template-areas: "img title title del" "count count . . ";
      }
      &__img {
        width: 68px;
        height: 68px;
        margin-right: 12px;
        grid-area: img;
      }
      &__name {
        font-size: 16px;
        line-height: 150%;
        margin-right: auto;
        grid-area: title;
        @include screen-max($small) {
          font-size: 14px;
        }
      }
      &-count {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: $button-gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 15px;
        margin-left: auto;
        grid-area: count;
        @include screen-max($small) {
          flex-direction: row;
          align-items: baseline;
          margin-left: 0;
        }
        &-buttons {
          display: flex;
          align-items: center;
          margin-bottom: 5px;
          @include screen-max($small) {
            margin-bottom: 0;
            margin-right: 10px;
          }
          &__item {
            width: 30px;
            height: 30px;
            @include screen-max($small) {
              width: 25px;
              height: 25px;
            }
          }
        }
        &__number {
          margin: 0 10px;
        }
      }
      &__price {
        white-space: nowrap;
        @include screen-max($small) {
          margin-top: 8px;
        }
      }
      &-button {
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: del;
        margin-left: 5px;
        &:hover {
          .tab-goods-item-button__path {
            fill: $minor-gray;
          }
        }
      }
    }
  }
  &-footer {
    display: none;
    align-items: center;
    justify-content: space-evenly;
    @include screen-max($small) {
      flex-direction: column-reverse;
    }
    &-price {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: $main-dark-gray;
      @include screen-max($small) {
        margin-bottom: 12px;
      }
    }
  }
}
