html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  color: $main-dark-gray;
  background-color: $light-gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
  &_wide {
    max-width: 1500px;
  }
}

input[type="text"],
input[type="phone"],
input[type="email"],
textarea {
  appearance: none;
  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.hide {
  display: none;
  transition: all 0.5s ease;
}
