.banner {
  background-color: $light-gray;
  background-image: url("../../images/banner-run.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  @include screen-max($medium) {
    border-radius: 5px;
  }
  @include screen-max($small) {
    background-image: url("../../images/banner-small.png");
  }
  &-container {
    padding: 83px 203px 30px 195px;
    display: flex;
    justify-content: space-between;
    @include screen-max($medium) {
      padding: 54px 30px 30px 36px;
    }
    @include screen-max($small) {
      padding: 29px 20px 20px;
      flex-direction: column;
    }
  }
  &-content {
    align-self: flex-start;
    width: 512px;
    @include screen-max($medium) {
      width: 265px;
    }
    @include screen-max($small) {
      margin-bottom: 180px;
    }
    &__heading {
      font-weight: 900;
      font-size: 50px;
      line-height: 55px;
      text-transform: uppercase;
      margin-bottom: 24px;
      @include screen-max($medium) {
        font-size: 26px;
        line-height: 29px;
        margin-bottom: 13px;
      }
      @include screen-max($small) {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 12px;
      }
      &_light {
        font-weight: 400;
        margin-bottom: 0;
      }
      &_red {
        font-size: 24px;
        line-height: 26px;
        color: $red;
        @include screen-max($medium) {
          font-size: 14px;
          line-height: 110%;
        }
        @include screen-max($small) {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
    &__button {
      margin-bottom: 50px;
      @include screen-max($small) {
        margin-bottom: 0;
      }
    }
  }
  &-buttons {
    align-self: flex-end;

    &__item {
      font-weight: 700;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
