.banner {
  position: relative;
  &-container {
    overflow: hidden;
    width: 100%;
  }
  &-wrapper {
    display: flex;
    grid-gap: 10px;
    transition: all ease 0.5s;
  }
  &-content {
    background-color: $light-gray;
    border-radius: 10px;
    padding: 83px 203px 81px 195px;
    align-self: flex-start;
    max-width: 1800px;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include screen-max($medium) {
      border-radius: 5px;
      padding: 54px 30px 60px 36px;
      max-width: 940px;
      height: 318px;
    }
    @include screen-max($small) {
      height: 460px;
      padding: 29px 20px 250px 20px;
      flex-direction: column;
      max-width: 300px;
    }
    &_run {
      background-image: url("../../images/banner-run.jpg");
      @include screen-max($small) {
        background-image: url("../../images/banner-small.png");
      }
    }
    &_str {
      background-image: url("../../images/banner-str.jpg");
      @include screen-max($small) {
        background-image: url("../../images/banner-str-sm.jpg");
      }
    }
    &_home {
      background-image: url("../../images/banner-home.jpg");
      @include screen-max($small) {
        background-image: url("../../images/banner-home-small.png");
      }
    }
    &-text {
      width: 512px;
      @include screen-max($medium) {
        width: 265px;
      }
    }
    &__heading {
      font-weight: 900;
      font-size: 50px;
      line-height: 55px;
      text-transform: uppercase;
      margin-bottom: 24px;
      @include screen-max($medium) {
        font-size: 26px;
        line-height: 29px;
        margin-bottom: 13px;
      }
      @include screen-max($small) {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 12px;
      }
      &_light {
        font-weight: 400;
        margin-bottom: 0;
      }
      &_red {
        font-size: 24px;
        line-height: 26px;
        color: $red;
        @include screen-max($medium) {
          font-size: 14px;
          line-height: 110%;
        }
        @include screen-max($small) {
          font-size: 14px;
          line-height: 16px;
        }
      }
      &_white {
        color: $white;
      }
      &_big {
        color: $main-dark-gray;
        font-size: 89px;
        line-height: 110%;
        @include screen-max($medium) {
          font-size: 60px;
        }
        @include screen-max($small) {
          font-size: 36px;
        }
      }
    }
  }
  &-buttons {
    display: flex;
    align-self: flex-end;
    position: absolute;
    bottom: 30px;
    right: 195px;
    @include screen-max($small) {
      display: none;
    }
    &__item {
      font-weight: 700;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  &-pagination {
    display: none;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    @include screen-max($small) {
      display: flex;
    }
    &__item {
      border-radius: 50%;
      width: 15px;
      height: 15px;
      border: 5px solid $main-dark-gray;
      background-color: $white;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &_active {
        background-color: $red;
      }
    }
  }
}
