.brands {
  border-bottom: 1px solid rgba(133, 143, 164, 0.2);
  &-container {
    padding: 120px 0 30px;
  }
  &__heading {
    margin-bottom: 30px;
  }
  &-buttons {
    margin-bottom: 30px;
    &__item {
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  &-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 170px;
    margin-bottom: 30px;
    &-item {
      width: 282px;
      height: 170px;
      background-color: $white;
      border: 1px solid rgba(133, 143, 164, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      &__img {
        width: 183px;
        height: 94px;
      }
    }
  }
}
