.brands {
  border-bottom: 1px solid rgba(133, 143, 164, 0.2);
  @include screen-max($medium) {
    border: none;
  }
  &-container {
    padding: 120px 0 30px;
    @include screen-max($medium) {
      padding-top: 98px;
    }
    @include screen-max($small) {
      padding: 80px 5px 30px;
    }
  }
  &__heading {
    margin-bottom: 30px;
    @include screen-max($small) {
      margin-bottom: 20px;
    }
  }
  &-buttons {
    margin-bottom: 30px;
    @include screen-max($small) {
      margin-bottom: 26px;
    }
    &__item {
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 30px;
        @include screen-max($medium) {
          margin-right: 15px;
        }
      }
      @include screen-max($medium) {
        font-weight: 14px;
        line-height: 18px;
      }
    }
  }
  &-cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 282px);
    grid-auto-rows: 170px;
    margin-bottom: 30px;
    @include screen-max($medium) {
      grid-template-columns: repeat(4, 234px);
      grid-auto-rows: 141px;
    }
    @include screen-max($small) {
      grid-template-columns: repeat(3, 100px);
      grid-auto-rows: 60px;
      margin-bottom: 20px;
    }
    &-item {
      max-width: 282px;
      width: 100%;
      height: 170px;
      background-color: $white;
      border: 1px solid rgba(133, 143, 164, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      @include screen-max($medium) {
        max-width: 234px;
        height: 141px;
      }
      @include screen-max($small) {
        max-width: 100px;
        height: 60px;
      }
      &__img {
        max-width: 183px;
        width: 100%;
        max-height: 94px;
        height: 100%;
        @include screen-max($medium) {
          max-width: 152px;
          max-height: 78px;
        }
        @include screen-max($small) {
          max-width: 65px;
          max-height: 33px;
        }
      }
    }
  }
}
