.discount {
  margin: 0 auto;
  &-container {
    padding: 124px 0 103px;
    @include screen-max($medium) {
      padding: 100px 10px 50px;
    }
    @include screen-max($small) {
      padding: 80px 10px 70px;
    }
  }
  &-heading {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    @include screen-max($medium) {
      margin-bottom: 22px;
    }
    @include screen-max($small) {
      flex-direction: column;
      align-items: flex-start;
    }

    &__heading {
      margin-right: 30px;
      @include screen-max($small) {
        margin-right: 20px;
      }
    }
    &-buttons {
      padding-top: 5px;
      &__item {
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        color: #828282;
        &:not(:last-child) {
          margin-right: 30px;
          @include screen-max($small) {
            margin-right: 15px;
          }
        }
        &_active {
          border-bottom: 1px solid #828282;
        }
      }
    }
  }
  &-cards {
    display: flex;
    grid-gap: 30px;
    margin-bottom: 30px;
    @include screen-max($medium) {
      margin-bottom: 20px;
    }
  }
}
