.home {
  padding: 120px 0 60px;
  &__heading {
    margin-bottom: 30px;
  }
  &-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 30px;
    margin-bottom: 30px;
    &__item {
      background-image: url("../../images/card-small-bg.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      &_one {
        grid-row-start: 1;
        grid-row-end: 3;
      }
      &_two {
        grid-row-start: 1;
        grid-row-end: 3;
      }
      &_hight {
        background-size: cover;
        background-image: url("../../images/card-hight-white.jpg");
      }
    }
  }
}
