.partner {
  &-container {
    background-color: $main-dark-gray;
    display: flex;
    justify-content: space-between;
    padding: 0 98px;
    border-radius: 6px;
    @include screen-max($medium) {
      padding: 0px 25px;
    }
    @include screen-max($small) {
      flex-direction: column-reverse;
      padding: 64px 28px 0;
    }
  }
  &__background {
    background-image: url("../../images/partner-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 484px;
    height: 390px;
    align-self: flex-end;
    background-position: -45px;
    @include screen-max($medium) {
      width: 400px;
      background-position: -40px;
    }
    @include screen-max($small) {
      width: 320px;
      height: 239px;
      background-position: 30px;
      background-size: contain;
    }
  }
  &-content {
    width: 572px;
    align-self: center;
    @include screen-max($medium) {
      width: 390px;
    }
    @include screen-max($small) {
      width: 231px;
      font-size: 18px;
      line-height: 120%;
    }
    &__title {
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 43px;
      color: $white;
      margin-bottom: 30px;
      @include screen-max($medium) {
        font-size: 24px;
        line-height: 29px;
      }
      &_red {
        color: $red;
      }
    }
  }
}
