.footer {
  background-color: $main-dark-gray;
  &-container {
    padding: 88px 0 28px;
    border-bottom: 1px solid rgba(133, 143, 164, 0.15);
    display: flex;

    color: $light-gray;
    @include screen-max($medium) {
      padding: 84px 20px 28px;
      flex-direction: column;
      border-bottom: 0;
    }
    @include screen-max($small) {
      padding: 27px 10px 0;
      align-items: center;
    }
    &_bottom {
      padding: 51px 0;
      color: $light-gray;
      @include screen-max($medium) {
        padding: 23px 20px 58px;
      }
      @include screen-max($small) {
        padding: 30px 10px;
        justify-content: center;
      }
    }
  }
  &-links {
    display: flex;
    justify-content: space-between;
    margin-right: 243px;
    max-width: 930px;
    width: 100%;
    @include screen-max($medium) {
      margin-bottom: 58px;
      padding-bottom: 46px;
      border-bottom: 1px solid rgba(133, 143, 164, 0.15);
    }
    @include screen-max($small) {
      padding-bottom: 30px;
      margin-bottom: 30px;
      margin-right: 0;
      max-width: 300px;
      flex-wrap: wrap;
    }
    &-item {
      display: flex;
      flex-direction: column;
      &:not(:nth-last-child(-n + 2)) {
        @include screen-max($small) {
          margin-bottom: 30px;
        }
      }
      &__title {
        color: $white;
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        @include screen-max($small) {
          margin-bottom: 16px;
        }
      }
      &-list {
        display: flex;
        flex-direction: column;
        @include screen-max($small) {
          width: 135px;
        }
        &__item {
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          color: $light-gray;
          @include screen-max($small) {
            font-size: 14px;
            line-height: 20px;
          }
          &:hover {
            color: $white;
          }
          &:not(:last-child) {
            margin-bottom: 12px;
            @include screen-max($small) {
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
  &-contacts {
    @include screen-max($medium) {
      display: grid;
      grid-template-areas:
        "p m . . s"
        "p m . . l";
    }
    @include screen-max($small) {
      grid-template-areas: "s" "p" "m" "l";
    }
    &-block {
      &_phone {
        grid-area: p;
        @include screen-max($medium) {
          width: 163px;
        }
        @include screen-max($small) {
          margin-bottom: 30px;
          width: 300px;
        }
      }
      &_mail {
        grid-area: m;
        @include screen-max($small) {
          margin-bottom: 30px;
        }
      }
      &__item {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: $light-gray;
        margin-bottom: 8px;
      }
      &__button {
        margin-bottom: 23px;
      }
    }
    &-links {
      margin-top: 17px;
      font-size: 14px;
      line-height: 20px;
      color: $blue;
      display: flex;
      flex-direction: column;
      grid-area: l;
      @include screen-max($medium) {
        margin-top: 0;
      }
      &__item {
        &:not(:last-child) {
          margin-bottom: 7px;
        }
      }
    }
  }
  &-input {
    margin-bottom: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    grid-area: s;
    @include screen-max($medium) {
      margin-bottom: 0;
      width: 235px;
    }
    @include screen-max($small) {
      margin-bottom: 30px;
      width: 300px;
    }
    &__item {
      border: none;
      outline: none;
      background-color: rgba(133, 143, 164, 0.15);
      border-radius: 5px;
      width: 255px;
      padding: 14px 34px 14px 14px;
      color: $light-gray;
      @include screen-max($medium) {
        width: 235px;
      }
      @include screen-max($small) {
        width: 300px;
      }
    }
    &__button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 17px;
      @include screen-max($medium) {
        right: 14px;
        top: 25px;
      }
    }
    &__success {
      display: none;
      position: absolute;
      bottom: -30px;
      color: $green;
    }
  }
  &-bottom {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    width: 100vw;
    @include screen-max($medium) {
      justify-content: space-between;
    }
    @include screen-max($small) {
      display: grid;
      grid-template-areas: "buttons" "social" "pay" "logo";
    }
    &-buttons {
      display: flex;
      align-items: center;
      grid-area: buttons;
      @include screen-max($medium) {
        flex-direction: column;
      }
      @include screen-max($small) {
        margin-bottom: 30px;
        align-items: flex-start;
      }
    }
  }
  &-logo {
    margin-right: 206px;
    grid-area: logo;
    @include screen-max($medium) {
      margin-right: 0px;
    }
    @include screen-max($small) {
      margin-bottom: 7px;
    }
  }
  &-socials {
    margin-right: 148px;
    display: flex;
    flex-wrap: nowrap;
    grid-area: social;
    @include screen-max($medium) {
      margin-right: 0px;
    }
    @include screen-max($small) {
      margin-bottom: 90px;
    }
    &__item {
      width: 24px;
      height: 24px;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  &__button {
    margin-right: 40px;
    @include screen-max($medium) {
      margin-right: 0;
    }
  }
  &-payment {
    display: flex;
    align-items: center;
    grid-area: pay;
    @include screen-max($medium) {
      width: 125px;
      flex-wrap: wrap;
    }
    @include screen-max($small) {
      width: 100%;
      flex-wrap: nowrap;
      margin-bottom: 17px;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 30px;
        @include screen-max($medium) {
          margin-right: 15px;
        }
        @include screen-max($small) {
          margin-right: 30px;
        }
      }
    }
  }
}
