.header {
  background-color: $main-dark-gray;
  color: $light-gray;
  position: relative;
  &-top {
    display: flex;
    flex-direction: column;
    @include screen-max($medium) {
      flex-direction: row;
      justify-content: space-between;
    }
    &-menu {
      display: none;

      @include screen-max($medium) {
        display: flex;
        align-items: center;
      }
    }
  }

  &-border {
    width: 100%;
    height: 1px;
    background-color: rgba(133, 143, 164, 0.15);
    @include screen-max($medium) {
      height: 0;
    }
  }
  &-main {
    display: flex;
    align-items: center;
    padding: 24px 0 28px;
    @include screen-max($medium) {
      padding: 27px 0;
    }
  }
  &-logo {
    margin-right: 50px;
    @include screen-max($medium) {
      margin-right: 31px;
    }
  }
  &-city {
    display: flex;
    align-items: center;
    margin-right: 229px;
    cursor: pointer;
    @include screen-max($medium) {
      margin-right: 0;
    }
    &:hover {
      color: $white;
    }
    &__item {
      margin-right: 10px;
      white-space: nowrap;
    }
    &__img {
      width: 6px;
      height: 6px;
    }
  }
  &__link {
    color: $light-gray;
    margin-right: 30px;
    white-space: nowrap;
    @include screen-max($medium) {
      display: none;
    }
  }
  &__button {
    margin-right: 61px;
    white-space: nowrap;
    @include screen-max($medium) {
      display: none;
    }
  }
  &-phone {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 61px;
    @include screen-max($medium) {
      display: none;
    }
    &-choosen {
      margin-right: 26px;
      cursor: pointer;
      display: flex;
      align-items: center;
      white-space: nowrap;
      &__item {
        margin-right: 4px;
        &_white {
          color: $white;
        }
      }
    }
    &__img {
      width: 6px;
      height: 6px;
    }
    &__button {
      white-space: nowrap;
    }
    &-open {
      width: 210px;
      position: absolute;
      padding: 5px 39px 7px 12px;
      background-color: $text-gray;
      box-shadow: 0px 10px 30px rgba(133, 143, 164, 0.1);
      border-radius: 5px;
      top: -25px;
      left: -25px;
      &__item {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: $button-gray;
        padding: 10px 5px 5px;
        cursor: pointer;

        &_light {
          font-size: 12px;
          color: #909cb5;
        }
        &:not(:last-child) {
          border-bottom: 1px solid rgba(133, 143, 164, 0.15);
        }
      }
    }
  }
  &-sign {
    display: flex;
    align-items: center;
    @include screen-max($medium) {
      display: none;
    }
    &__button {
      margin-right: 14px;
    }
    &__img {
      width: 20px;
      height: 20px;
    }
  }
  &-navigation {
    padding: 16px 0;
    display: flex;
    align-items: center;
    &-catalog {
      display: flex;
      align-items: center;
      margin-right: 48px;
      @include screen-max($medium) {
        margin-right: 32px;
      }
      &:after {
        content: "";
        display: block;
        width: 1px;
        height: 40px;
        background-color: rgba(133, 143, 164, 0.15);
        border-radius: 1px;
        margin-left: 30px;
        align-self: center;
      }
      &__button {
        margin-right: 51px;
        @include screen-max($medium) {
          display: none;
        }
      }

      &-search {
        padding: 5px;
        width: 52px;
        height: 30px;

        &__img {
          width: 20px;
          height: 20px;
          vertical-align: middle;
        }
      }
    }

    &-nav {
      margin-right: 214px;
      @include screen-max($medium) {
        display: none;
      }
    }
    &-buttons {
      display: flex;
      position: relative;
      @include screen-max($medium) {
        margin-right: 37px;
      }
      &-item {
        position: relative;
        font-size: 10px;
        line-height: 12px;
        &:not(:last-child) {
          margin-right: 47px;
          @include screen-max($medium) {
            margin-right: 40px;
          }
        }
        &__img {
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
          &_comparison {
            width: 17px;
            height: 17px;
          }
          &_favorite {
            width: 24px;
            height: 20px;
          }
          &_cart {
            width: 21px;
            height: 24px;
          }
          &_active {
            opacity: 1;
          }
        }
        &__span {
          width: 18px;
          height: 18px;
          border-radius: 50%;
          padding: 2px;
          color: $white;
          background-color: $red;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: nowrap;
          position: absolute;
          top: -3px;
          right: -10px;
          font-size: 10px;
          line-height: 12px;
          border: 2px solid $main-dark-gray;
        }
      }
    }
  }
  &-menu {
    background-color: $minor-gray;
    &-container {
      padding: 14px 0;
      display: flex;
    }
    &-item {
      color: $white;
      padding-right: 35px;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      &:not(:first-child) {
        padding-left: 19px;
      }
      &:not(:last-child) {
        &::after {
          content: "";
          display: block;
          width: 1px;
          height: 30px;
          background-color: rgba(255, 255, 255, 0.15);
          border-radius: 1px;
          position: absolute;
          right: 0;
        }
      }
      &__img {
        width: 6px;
        height: 4px;
        margin-left: 10px;
      }
    }
  }
}
