.main {
  background-color: $bg-color;
  padding: 39px 0 60px;
  @include screen-max($medium) {
    padding: 20px 20px 56px;
  }
  @include screen-max($small) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
  }
}
