<div class="about">
  <div class="container about-container">
    <h2 class="about__heading heading">О компании</h2>
    <div class="about-content">
      <h3 class="about-content__subtitle">
        Надежный партнер с 2005 года для сотен компаний от Калининграда
        до Владивостока.
      </h3>
      <div>
        <p class="about-content__item">
          Оптима Импорт — один из самых крупных импортеров фитнес-оборудования,
          эксклюзивно представляет на российском рынке ведущих мировых
          производителей: Sole Fitness, Optima Fitness, Halley, Marcy, SKI
          Simulator и др.
        </p>
        <p class="about-content__item">
          Мы предлагаем широкий спектр самой современной и качественной
          продукции как для домашнего, так и для коммерческого фитнеса.
        </p>
      </div>
    </div>
    <button class="about__button button button_red button_banner">
      Подробнее о компании
    </button>
  </div>
  <div class="about__map"></div>
</div>
