<div class="banner">
  <div class="container banner-container">
    <div class="banner-content">
      <h3 class="banner-content__heading banner-content__heading_red">
        Zero Runner
      </h3>
      <h2 class="banner-content__heading">
        Бег с нулевой ударной нагрузкой
        <p class="banner-content__heading_light">на суставы</p>
      </h2>
      <button class="banner-content__button button button_red button_banner">
        Узнать больше
      </button>
    </div>
    <div class="banner-buttons">
      <button class="banner-buttons__item button button_red button_round">
        &#8592;
      </button>
      <button class="banner-buttons__item button button_red button_round">
        &#8594;
      </button>
    </div>
  </div>
</div>
