<div class="banner">
  <div class="container banner-container">
    <div class="banner-wrapper">
      <div class="banner-content banner-content_run">
        <div class="banner-content-text">
          <h3 class="banner-content__heading banner-content__heading_red">
            Zero Runner
          </h3>
          <h2 class="banner-content__heading">
            Бег с нулевой ударной нагрузкой
            <p class="banner-content__heading_light">на суставы</p>
          </h2>
          <button
            class="banner-content__button button button_red button_banner"
          >
            Узнать больше
          </button>
        </div>
      </div>
      <div class="banner-content banner-content_str">
        <div class="banner-content-text">
          <h2 class="banner-content__heading banner-content__heading_white">
            <span class="banner-content__heading_light">Уникальная</span><br />
            Кардио-силовая тренировка<br />
            <span class="banner-content__heading_big">2 в 1</span>
          </h2>
          <button class="banner-content__button button button_white">
            Узнать больше
          </button>
        </div>
      </div>
      <div class="banner-content banner-content_home">
        <div class="banner-content-text">
          <h2 class="banner-content__heading">
            Домашний спортзал<br />
            <span class="banner-content__heading_light"
              >вместе с WellFitness</span
            >
          </h2>
          <button class="banner-content__button button button_blue">
            Узнать больше
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-buttons">
    <button
      class="
        banner-buttons__item banner-buttons__item_prev
        button button_red button_round
      "
    >
      &#8592;
    </button>
    <button
      class="
        banner-buttons__item banner-buttons__item_next
        button button_red button_round
      "
    >
      &#8594;
    </button>
  </div>
</div>
