<div class="brands">
  <div class="container brands-container">
    <h2 class="heading brands__heading">Популярные бренды</h2>
    <div class="brands-buttons">
      <span class="brands-buttons__item" data-brand="treadmill"
        >Беговые дорожки</span
      >
      <span class="brands-buttons__item" data-brand="elliptical-trainer"
        >Эллиптические тренажеры</span
      >
      <span class="brands-buttons__item" data-brand="exercise-bike"
        >Велотренажеры</span
      >
      <span class="brands-buttons__item" data-brand="power-trainer"
        >Силовые тренажеры</span
      >
      <span class="brands-buttons__item" data-brand="trampoline">Батуты</span>
      <span class="brands-buttons__item" data-brand="game-table"
        >Игровые столы</span
      >
    </div>
    <div class="brands-cards"></div>
    <button class="brands__button button button_red button_banner">
      Все бренды
    </button>
  </div>
</div>
