<div class="brands">
  <div class="container brands-container">
    <h2 class="heading brands__heading">Популярные бренды</h2>
    <div class="brands-buttons">
      <span class="brands-buttons__item">Беговые дорожки</span>
      <span class="brands-buttons__item">Эллиптические тренажеры</span>
      <span class="brands-buttons__item">Велотренажеры</span>
      <span class="brands-buttons__item">Силовые тренажеры</span>
      <span class="brands-buttons__item">Батуты</span>
      <span class="brands-buttons__item">Игровые столы</span>
    </div>
    <div class="brands-cards">
      <div class="brands-cards-item">
        <img src="./images/brand.jpg" alt="" class="brands-cards-item__img" />
      </div>
      <div class="brands-cards-item">
        <img src="./images/brand.jpg" alt="" class="brands-cards-item__img" />
      </div>
      <div class="brands-cards-item">
        <img src="./images/brand.jpg" alt="" class="brands-cards-item__img" />
      </div>
      <div class="brands-cards-item">
        <img src="./images/brand.jpg" alt="" class="brands-cards-item__img" />
      </div>
      <div class="brands-cards-item">
        <img src="./images/brand.jpg" alt="" class="brands-cards-item__img" />
      </div>
      <div class="brands-cards-item">
        <img src="./images/brand.jpg" alt="" class="brands-cards-item__img" />
      </div>
      <div class="brands-cards-item">
        <img src="./images/brand.jpg" alt="" class="brands-cards-item__img" />
      </div>
      <div class="brands-cards-item">
        <img src="./images/brand.jpg" alt="" class="brands-cards-item__img" />
      </div>
      <div class="brands-cards-item">
        <img src="./images/brand.jpg" alt="" class="brands-cards-item__img" />
      </div>
      <div class="brands-cards-item">
        <img src="./images/brand.jpg" alt="" class="brands-cards-item__img" />
      </div>
    </div>
    <button class="brands__button button button_red button_banner">
      Все бренды
    </button>
  </div>
</div>
