<div class="modal modal-catalog catalog">
  <div class="modal-wrapper">
    <div class="modal-catalog-content">
      <div class="modal-catalog-type container">
        <button
          class="
            modal-catalog-type__item modal-catalog-type__item_home
            button button_unbordered
          "
          data-category="home"
        >
          Для дома
        </button>
        <button
          class="
            modal-catalog-type__item modal-catalog-type__item_clubs
            button button_unbordered
          "
          data-category="club"
        >
          Для фитнес клубов
        </button>
      </div>
      <div
        class="
          modal-catalog-category modal-catalog-category-home
          container
          hide
        "
      ></div>
      <div
        class="
          modal-catalog-category modal-catalog-category-clubs
          container
          hide
        "
      ></div>
    </div>
  </div>
</div>
