<div class="catalog hide">
  <div class="container catalog-container">
    <div class="catalog-type">
      <div class="catalog-type__item catalog-type__item_active">Для дома</div>
      <div class="catalog-type__item">Для фитнес клубов</div>
    </div>
    <div class="catalog-category">
      <div class="catalog-category-name">
        <div
          class="catalog-category-name__item catalog-category-name__item_active"
        >
          Кардиотренажеры
          <span class="catalog-category-name__item_arrow"> &#8594;</span>
        </div>
        <div class="catalog-category-name__item">
          Силовые тренажеры
          <span class="catalog-category-name__item_arrow"> &#8594;</span>
        </div>
        <div class="catalog-category-name__item">
          Уличные виды спорта
          <span class="catalog-category-name__item_arrow"> &#8594;</span>
        </div>
        <div class="catalog-category-name__item">
          Свободные веса
          <span class="catalog-category-name__item_arrow"> &#8594;</span>
        </div>
        <div class="catalog-category-name__item">
          Игровые столы
          <span class="catalog-category-name__item_arrow"> &#8594;</span>
        </div>
        <div class="catalog-category-name__item">
          Массажное оборудование
          <span class="catalog-category-name__item_arrow"> &#8594;</span>
        </div>
        <div class="catalog-category-name__item">
          Фитнес аксессуары
          <span class="catalog-category-name__item_arrow"> &#8594;</span>
        </div>
        <div class="catalog-category-name__item">
          Функциональный тренинг
          <span class="catalog-category-name__item_arrow"> &#8594;</span>
        </div>
      </div>
      <div class="catalog-category-subcategory">
        <div class="catalog-category-subcategory-item">
          <img
            src="./images/good.png"
            alt="тренажер"
            class="catalog-category-subcategory-item__img"
          />
          <div class="catalog-category-subcategory-item__title">
            Беговые дорожки
          </div>
        </div>
        <div class="catalog-category-subcategory-item">
          <img
            src="./images/good.png"
            alt="тренажер"
            class="catalog-category-subcategory-item__img"
          />
          <div class="catalog-category-subcategory-item__title">
            Эллиптические тренажеры
          </div>
        </div>
        <div class="catalog-category-subcategory-item">
          <img
            src="./images/good.png"
            alt="тренажер"
            class="catalog-category-subcategory-item__img"
          />
          <div class="catalog-category-subcategory-item__title">
            Велотренажеры
          </div>
        </div>
        <div class="catalog-category-subcategory-item">
          <img
            src="./images/good.png"
            alt="тренажер"
            class="catalog-category-subcategory-item__img"
          />
          <div class="catalog-category-subcategory-item__title">Cтепперы</div>
        </div>
        <div class="catalog-category-subcategory-item">
          <img
            src="./images/good.png"
            alt="тренажер"
            class="catalog-category-subcategory-item__img"
          />
          <div class="catalog-category-subcategory-item__title">
            Гребные тренажеры
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
