<div class="clubs">
  <div class="container clubs-container">
    <h2 class="heading clubs__heading">Для фитнес клубов</h2>
    <div class="clubs-cards">
      <div
        class="
          clubs-cards__item clubs-cards__item_one
          category-card category-card_dark category-card_wide
        "
      >
        <h3 class="category-card__heading category-card__heading_white">
          Профессиональные кардиотренажеры
        </h3>
      </div>
      <div class="clubs-cards__item category-card category-card_square">
        <h3 class="category-card__heading category-card__heading_wide">
          Грузоблочные тренажеры
        </h3>
      </div>
      <div class="clubs-cards__item category-card category-card_square">
        <h3 class="category-card__heading category-card__heading_wide">
          Тренажеры на свободных весах
        </h3>
      </div>
      <div class="clubs-cards__item category-card category-card_square">
        <h3 class="category-card__heading category-card__heading_wide">
          Функциональный тренинг
        </h3>
      </div>
      <div class="clubs-cards__item category-card category-card_square">
        <h3 class="category-card__heading category-card__heading_wide">
          Wellness, СПА, Массаж
        </h3>
      </div>
      <div class="clubs-cards__item category-card category-card_square">
        <h3 class="category-card__heading category-card__heading_wide">
          Спортивная медицина и реабилитация
        </h3>
      </div>
      <div class="clubs-cards__item category-card category-card_square">
        <h3 class="category-card__heading category-card__heading_wide">
          Свободные веса
        </h3>
      </div>
    </div>
    <button class="clubs__button button button_red button_banner">
      Все категории
    </button>
  </div>
</div>
