<div
  class="
    modal-comparison
    hide
    tab
    header-navigation-modals__item header-navigation-modals__item_comparison
  "
>
  <div class="modal-comparison-content tab-content">
    <div class="tab__message modal-comparison__message">
      Для сравнения пока ничего нет...
    </div>
    <div class="tab-goods modal-comparison-goods"></div>
    <div class="tab-footer modal-comparison-footer">
      <a
        href="#"
        class="
          modal-comparison-footer__button
          tab-footer__button
          button button_full-red
        "
      >
        Сравнить
      </a>
    </div>
  </div>
</div>
