<div class="discount">
  <div class="container discount-container">
    <div class="discount-heading">
      <h3 class="heading discount-heading__heading">Акция</h3>
      <div class="discount-heading-buttons">
        <button class="discount-heading-buttons__item button button_unbordered">
          Новинки
        </button>
        <button class="discount-heading-buttons__item button button_unbordered">
          Мы рекомендуем
        </button>
      </div>
    </div>
    <div class="discount-cards">
      <div class="discount-cards-item good-card">
        <div class="good-card-icons">
          <div class="good-card-icons-left">
            <div class="good-card-icons-item good-card-icons-item_red">
              <img
                class="
                  good-card-icons-item__img good-card-icons-item__img_discount
                "
                src="./images/discount.svg"
                alt="discount"
              />
            </div>
            <div class="good-card-icons-item good-card-icons-item_blue">
              <img
                class="
                  good-card-icons-item__img good-card-icons-item__img_choice
                "
                src="./images/choice.svg"
                alt="choice"
              />
            </div>
            <div class="good-card-icons-item good-card-icons-item_green">
              <img
                class="good-card-icons-item__img good-card-icons-item__img_new"
                src="./images/new.svg"
                alt="new"
              />
            </div>
          </div>
          <div class="good-card-icons-right">
            <button
              class="
                good-card-icons-item good-card-icons-item_comparison
                button
              "
            >
              <img
                class="
                  good-card-icons-item__img good-card-icons-item__img_comparison
                "
                src="./images/comparison_gr.svg"
                alt="comparison"
              />
            </button>
            <button
              class="good-card-icons-item good-card-icons-item_favorite button"
            >
              <img
                class="
                  good-card-icons-item__img good-card-icons-item__img_favorite
                "
                src="./images/favorite_gr.svg"
                alt="favorite"
              />
            </button>
          </div>
        </div>
        <img src="./images/good.png" alt="good" class="good-card__image" />
        <div class="good-card-description">
          <div class="good-card-availibility">
            <span
              class="good-card-availibility good-card-availibility_available"
              >В наличии</span
            ><span class="good-card-availibility_blue">Есть в шоу-руме</span>
          </div>
          <h4 class="good-card__heading">Беговая дорожка CardioPower S35</h4>
          <div class="good-card-rating">Рейтинг</div>
          <div class="good-card-bottom">
            <div class="good-card-price">
              <div class="good-card-price__item">1 114 900 ₽</div>
              <div class="good-card-price__item_crossed">1 134 900 ₽</div>
            </div>
            <button class="good-card__button button button_catalog button_buy">
              Купить
            </button>
          </div>
        </div>
      </div>
    </div>
    <button class="discount__button button button_red button_banner">
      Все товары по акции
    </button>
  </div>
</div>
