<div class="discount">
  <div class="container discount-container">
    <div class="discount-heading">
      <h3 class="heading discount-heading__heading">Акция</h3>
      <div class="discount-heading-buttons">
        <button
          class="discount-heading-buttons__item button button_unbordered"
          data-filter="new"
        >
          Новинки
        </button>
        <button
          class="discount-heading-buttons__item button button_unbordered"
          data-filter="recommendation"
        >
          Мы рекомендуем
        </button>
        <button
          class="discount-heading-buttons__item button button_unbordered"
          data-filter="all"
        >
          Все
        </button>
      </div>
    </div>
    <div class="discount-cards"></div>
    <button class="discount__button button button_red button_banner">
      Все товары по акции
    </button>
  </div>
</div>
