<div class="discount">
  <div class="container discount-container">
    <div class="discount-heading">
      <h3 class="heading discount-heading__heading">Акция</h3>
      <div class="discount-heading-buttons">
        <button
          class="discount-heading-buttons__item button button_unbordered"
          data-filter="new"
        >
          Новинки
        </button>
        <button
          class="discount-heading-buttons__item button button_unbordered"
          data-filter="recommendation"
        >
          Мы рекомендуем
        </button>
        <button
          class="discount-heading-buttons__item button button_unbordered"
          data-filter="all"
        >
          Все
        </button>
      </div>
    </div>
    <div class="slider goods-slider">
      <div class="discount-cards slider-wrapper"></div>
      <div class="discount-controls slider-controls">
        <button
          class="
            slider-controls__prev
            discount-controls__item discount-controls__item_prev
            button button_red button_round
            hide
          "
        >
          &#8592;
        </button>
        <button
          class="
            slider-controls__next
            discount-controls__item discount-controls__item_next
            button button_red button_round
          "
        >
          &#8594;
        </button>
      </div>
    </div>
    <button class="discount__button button button_red button_banner">
      Все товары по акции
    </button>
  </div>
</div>
