<div
  class="
    modal-favorite
    tab
    hide
    header-navigation-modals__item header-navigation-modals__item_favorite
  "
>
  <div class="modal-favorite-content tab-content">
    <div class="tab__message modal-favorite__message">
      В избранных пока ничего нет...
    </div>
    <div class="tab-goods modal-favorite-goods"></div>
    <div class="tab-footer modal-favorite-footer">
      <a href="#" class="tab-footer__button button button_full-red">
        Перейти в избранное
      </a>
    </div>
  </div>
</div>
