<footer class="footer">
  <div class="container footer-container">
    <div class="footer-links">
      <div class="footer-links-item">
        <h5 class="footer-links-item__title">Каталог</h5>
        <nav class="footer-links-item-list">
          <a href="#" class="footer-links-item-list__item">Для дома</a>
          <a href="#" class="footer-links-item-list__item">Для фитнес клубов</a>
          <a href="#" class="footer-links-item-list__item">Акции</a>
          <a href="#" class="footer-links-item-list__item">Идеи и подборки</a>
          <a href="#" class="footer-links-item-list__item">Новинки</a>
          <a href="#" class="footer-links-item-list__item">Наши бренды</a>
        </nav>
      </div>
      <div class="footer-links-item">
        <h5 class="footer-links-item__title">Поддержка</h5>
        <nav class="footer-links-item-list">
          <a href="#" class="footer-links-item-list__item">Доставка и оплата</a>
          <a href="#" class="footer-links-item-list__item">Условия возврата</a>
          <a href="#" class="footer-links-item-list__item">Сервисная заявка</a>
          <a href="#" class="footer-links-item-list__item">
            Обслуживание фитнес клубов
          </a>
          <a href="#" class="footer-links-item-list__item">FAQ</a>
          <a href="#" class="footer-links-item-list__item">Инструкции</a>
          <a href="#" class="footer-links-item-list__item">Гарантия</a>
        </nav>
      </div>
      <div class="footer-links-item">
        <h5 class="footer-links-item__title">Услуги</h5>
        <nav class="footer-links-item-list">
          <a href="#" class="footer-links-item-list__item">3D проект</a>
          <a href="#" class="footer-links-item-list__item">Консалтинг</a>
          <a href="#" class="footer-links-item-list__item"
            >Бизнес планирование</a
          >
          <a href="#" class="footer-links-item-list__item">Лизинг</a>
          <a href="#" class="footer-links-item-list__item">Trade-IN</a>
          <a href="#" class="footer-links-item-list__item">В рассрочку</a>
        </nav>
      </div>
      <div class="footer-links-item">
        <h5 class="footer-links-item__title">О компании</h5>
        <nav class="footer-links-item-list">
          <a href="#" class="footer-links-item-list__item">О нас</a>
          <a href="#" class="footer-links-item-list__item">Наша миссия</a>
          <a href="#" class="footer-links-item-list__item">Наша команда</a>
          <a href="#" class="footer-links-item-list__item">Наши проекты</a>
          <a href="#" class="footer-links-item-list__item">Новости</a>
          <a href="#" class="footer-links-item-list__item">Блог</a>
          <a href="#" class="footer-links-item-list__item">Где купить</a>
          <a href="#" class="footer-links-item-list__item">Контакты</a>
        </nav>
      </div>
    </div>
    <div class="footer-contacts">
      <form action="" class="footer-input">
        <input
          type="text"
          class="footer-input__item"
          placeholder="Подписаться на рассылку"
        />
        <button class="button button_unbordered footer-input__button">
          <img class="" src="./images/subscribe.svg" alt="subscribe" />
        </button>
        <span class="footer-input__success">Вы успешно подписались</span>
      </form>
      <div class="footer-contacts-block footer-contacts-block_phone">
        <div class="footer-contacts-block__item">
          +7 (000) 000-00-00 для Москвы
        </div>
        <div class="footer-contacts-block__item">
          8 (800) 000-00-00 для России
        </div>
        <button
          class="
            footer-contacts-block__button
            callBack-btn
            button button_unbordered
          "
        >
          Заказать звонок
        </button>
      </div>
      <div class="footer-contacts-block footer-contacts-block_mail">
        <div class="footer-contacts-block__item">wellfitness@wellfit.ru</div>
        <button class="footer-contacts-block__button button button_unbordered">
          Написать
        </button>
      </div>
      <div class="footer-contacts-links">
        <a class="footer-contacts-links__item">Политика конфиденциальности </a>
        <a class="footer-contacts-links__item">Публичная офферта </a>
      </div>
    </div>
  </div>
  <div class="container footer-container_bottom">
    <div class="footer-bottom">
      <a class="logo footer-logo" href="#"
        ><img
          src="./images/logo.png"
          class="logo__img_small footere-logo__img"
          alt="Logo"
      /></a>
      <div class="footer-socials socials">
        <a href="#" class="footer-socials__item socials__item"
          ><img src="./images/inst.svg" alt="Instagram"
        /></a>
        <a href="#" class="footer-socials__item socials__item">
          <img src="./images/fb.svg" alt="Facebook"
        /></a>
        <a href="#" class="footer-socials__item socials__item">
          <img src="./images/youtube.svg" alt="Youtube"
        /></a>
      </div>
      <div class="footer-bottom-buttons">
        <a class="partnership-btn footer__button button">Become a Partner </a>
        <a class="partnership-btn partnership-btn_unbordered footer__button"
          >Для дилеров
        </a>
      </div>

      <div class="footer-payment">
        <img src="./images/visa.svg" class="footer-payment__item" alt="Visa" />
        <img
          src="./images/mastercard.svg"
          class="footer-payment__item"
          alt="Mastercard"
        />
        <img
          src="./images/webmoney.svg"
          class="footer-payment__item"
          alt="WebMoney"
        />
        <img
          src="./images/paypal.svg"
          class="footer-payment__item"
          alt="PayPal"
        />
      </div>
    </div>
    <p>&copy; WellFitness. 2021 Все права защищены</p>
  </div>
</footer>
