<header class="header">
  <div class="header-top">
  <div class="header-main container">
    <a class="logo header-logo" href="#"
      ><img
        src="./images/logo.png"
        class="logo__img header-logo__img"
        alt="Logo"
    /></a>
    <div class="header-city city-btn">
      <div class="header-city__item city-btn__item">Москва</div>
      <img class="header-city__img city-btn__img" src="./images/arrow.svg" alt="open" />
    </div>
    <button class="partnership-btn partnership-btn_unbordered header__link button button_unbordered">Для дилеров</button>
    <button class="partnership-btn header__button button">Become a Partner</button>
    <div class="header-phone">
      <div class="header-phone-choosen">
        <div class="header-phone-choosen__item select-choosen__item_small">
          <span class="header-phone-choosen__item_white"
            >+7 (800) 999-00-00</span
          >
          МСК
        </div>
        <img class="header-phone__img" src="./images/arrow.svg" alt="open" />
      </div>
      <div class="header-phone-open hide">
          <div class="header-phone-open__item">
            <span data-phone="+7 (800) 999-00-00">+7 (800) 999-00-00</span>
           <span class="header-phone-open__item_light" data-city="МСК"> для Москвы</span>
          </div>
          <div class="header-phone-open__item">
            <span data-phone="+7 (800) 000-00-00">+7 (800) 000-00-00</span>
            <span class="header-phone-open__item_light" data-city="регионы">для регионов РФ</span>
          </li>
        </div>
      </div>
      <button class="header-phone__button callBack-btn button button_red">
        Заказать звонок
      </button>
    </div>
    <div class="header-sign sign-block">
      <button class="header-sign__button sign-block__button button button_unbordered">
        Войти
      </button>
      <img src="./images/avatar.svg" alt="avatar" class="header-sign__img sign-block__img" />
    </div>
  </div>
  <div class="header-border"></div>
  <div class="header-navigation container">
    <div class="header-navigation-catalog">
      <button class="header-navigation-catalog__button button button_catalog">
        Каталог
      </button>
      <button class="header-navigation-catalog-search search-btn button button_unbordered" ><img src="./images/search.svg" alt="search" class="header-navigation-catalog-search__img"></button>
    </div>
    <nav class="header-navigation-nav nav">
      <a href="#" class="header-navigation-nav__item nav__item">Бренды</a>
      <a href="#" class="header-navigation-nav__item nav__item">Сервис</a>
      <a href="#" class="header-navigation-nav__item nav__item">Услуги</a>
      <a href="#" class="header-navigation-nav__item nav__item">Поддержка</a>
      <a href="#" class="header-navigation-nav__item nav__item">О компании</a>
      <a href="#" class="header-navigation-nav__item nav__item">Блог</a>
      <a href="#" class="header-navigation-nav__item nav__item">Где купить</a>
      <a href="#" class="header-navigation-nav__item nav__item">Контакты</a>
    </nav>
    <div class="header-navigation-buttons">
      <button class="header-navigation-buttons-item header-navigation-buttons-item_comparison button button_unbordered">
        <img
          class="
            header-navigation-buttons-item__img
            header-navigation-buttons-item__img_comparison
          "
          src="./images/comparison.svg"
          alt="comparison"
        /><span class="header-navigation-buttons-item__span">0</span>
      </button>
      <button class="header-navigation-buttons-item header-navigation-buttons-item_favorite button button_unbordered">
        <img
          class="
            header-navigation-buttons-item__img
            header-navigation-buttons-item__img_favorite
          "
          src="./images/favorite.svg"
          alt="favorite"
        /><span class="header-navigation-buttons-item__span">0</span>
      </button>
      <button class="header-navigation-buttons-item header-navigation-buttons-item_cart button button_unbordered">
        <img
          class="
            header-navigation-buttons-item__img
            header-navigation-buttons-item__img_cart
          "
          src="./images/cart.svg"
          alt="cart"
        /><span class="header-navigation-buttons-item__span">0</span>
      </button>
      <button class="header-top-menu button button_unbordered">
        <svg width="30" height="18" viewBox="0 0 30 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="30" height="2" fill="white"/>
          <rect y="8" width="30" height="2" fill="white"/>
          <rect y="16" width="30" height="2" fill="white"/>
          </svg>
      </button>
    </div>
  </div>

</div>
  <div class="header-menu">
    <div class="container header-menu-container">
      <button class="header-menu-item button button_unbordered" data-category="home">
        Для дома<img class="header-menu-item__img" src="./images/arrow-w.svg" alt="" />
      </button>
      <button class="header-menu-item button button_unbordered" data-category="clubs">
        Для фитнес клуба<img class="header-menu-item__img" src="./images/arrow-w.svg" alt="" />
      </button>
    </div>
  </div>
  @@include("_menu.html")
</header>
