<div class="home">
  <div class="container home-container">
    <h2 class="heading home__heading">Тренажеры для дома</h2>
    <div class="home-cards">
      <div
        class="
          home-cards__item home-cards__item_hight home-cards__item_one
          category-card category-card_dark category-card_hight
        "
      >
        <h3 class="category-card__heading category-card__heading_white">
          Беговые дорожки
        </h3>
      </div>
      <div
        class="
          home-cards__item home-cards__item_hight home-cards__item_two
          category-card category-card_hight
        "
      >
        <h3 class="category-card__heading">Эллиптические тренажеры</h3>
      </div>
      <div class="home-cards__item category-card">
        <h3 class="category-card__heading">Велотренажеры</h3>
      </div>
      <div class="home-cards__item category-card">
        <h3 class="category-card__heading">Горнолыжные тренажеры</h3>
      </div>
      <div class="home-cards__item category-card">
        <h3 class="category-card__heading">Силовые тренажеры</h3>
      </div>
      <div class="home-cards__item category-card">
        <h3 class="category-card__heading">Гребные тренажеры</h3>
      </div>
      <div class="home-cards__item category-card">
        <h3 class="category-card__heading">Батуты</h3>
      </div>
      <div class="home-cards__item category-card">
        <h3 class="category-card__heading">Игровые столы</h3>
      </div>
      <div class="home-cards__item category-card">
        <h3 class="category-card__heading">Массажные кресла</h3>
      </div>
      <div class="home-cards__item category-card">
        <h3 class="category-card__heading">Фитнес аксессуары</h3>
      </div>
    </div>
    <button class="home__button button button_red button_banner">
      Все категории
    </button>
  </div>
</div>
