<div class="ideas">
  <div class="container ideas-container">
    <h2 class="heading heading_white ideas__heading">Идеи и подборки</h2>
    <div class="ideas-block">
      <div class="ideas-block-item ideas-block-item_wide">
        <img
          src="./images/banner_1.jpg"
          alt=""
          class="ideas-block-item__img ideas-block-item__img_wide"
        />
      </div>
      <div class="ideas-block-item">
        <img src="./images/banner_2.jpg" alt="" class="ideas-block-item__img" />
      </div>
      <div class="ideas-block-item">
        <img src="./images/banner_3.jpg" alt="" class="ideas-block-item__img" />
      </div>
    </div>
    <button class="button button_white">Полная подборка</button>
  </div>
</div>
