<div class="menu hide">
  <div class="menu-main">
    <div class="menu-header">
      <div class="menu-header-city city-btn">
        <div class="header-city__item city-btn__item">Москва</div>
        <img class="header-city__img city-btn__img" src="./images/arrow.svg" alt="open" />
      </div>
      <div class="menu-header-sign sign-block">
        <button class="sign-block__button button button_unbordered">
          Войти
        </button>
        <img src="./images/avatar.svg" alt="avatar" class="sign-block__img" />
      </div>
      <div class="menu-header-close menu-close">
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.4592 3.15144L10.6113 7.99986L15.4592 12.8481C16.1803 13.5694 16.1803 14.738 15.4592 15.4593C15.0989 15.8196 14.6265 15.9999 14.1544 15.9999C13.6814 15.9999 13.209 15.8199 12.849 15.4593L8.00004 10.6106L3.15143 15.4593C2.79118 15.8196 2.31876 15.9999 1.8462 15.9999C1.37378 15.9999 0.901677 15.8199 0.541103 15.4593C-0.18 14.7382 -0.18 13.5697 0.541103 12.848L5.38888 7.99981L0.540827 3.15144C-0.180276 2.43033 -0.180276 1.26152 0.540827 0.540414C1.26179 -0.180138 2.42992 -0.180138 3.15116 0.540414L7.99999 5.38884L12.8485 0.540414C13.5698 -0.180138 14.7381 -0.180138 15.4589 0.540414C16.1803 1.26152 16.1803 2.43033 15.4592 3.15144Z"
            fill="#858FA4"
          />
        </svg>
      </div>
    </div>
    <form class="menu-form">
        <input class="menu-form__input search-btn" type="text" placeholder="Поиск" />
    </form>
    <div class="menu-catalog">
        <h3 class="menu__title menu-catalog__title">Каталог</h3>
        <button class="menu-catalog-button button button_unbordered" id="home-catalog">
          <span class="menu-catalog-button__text">Для дома</span>
          <span class="menu-catalog-button__arrow">&#8594;</span>
        </button>
        <button class="menu-catalog-button button button_unbordered" id="clubs-catalog">
          <span class="menu-catalog-button__text">Для фитнес клубов</span>
          <span class="menu-catalog-button__arrow">&#8594;</span>
        </button>
    </div>
    <nav class="menu-navigation">
        <a href="#" class="menu-navigation__item">Бренды</a>
        <a href="#" class="menu-navigation__item">Сервис</a>
        <a href="#" class="menu-navigation__item">Услуги</a>
        <a href="#" class="menu-navigation__item">Поддержка</a>
        <a href="#" class="menu-navigation__item">О компании</a>
        <a href="#" class="menu-navigation__item">Блог</a>
        <a href="#" class="menu-navigation__item">Выставочный зал</a>
        <a href="#" class="menu-navigation__item">Контакты</a>
    </nav>
  </div>
  <div class="menu-home hide menu-window">
        <div class="menu-window-header">
          <button class="menu-window-header__button button-back button button_unbordered" data-back="home">
            Назад
          </button>
          <button
            class="menu-window-header__button_close menu-close button button_unbordered"
          >
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.4592 3.15144L10.6113 7.99986L15.4592 12.8481C16.1803 13.5694 16.1803 14.738 15.4592 15.4593C15.0989 15.8196 14.6265 15.9999 14.1544 15.9999C13.6814 15.9999 13.209 15.8199 12.849 15.4593L8.00004 10.6106L3.15143 15.4593C2.79118 15.8196 2.31876 15.9999 1.8462 15.9999C1.37378 15.9999 0.901677 15.8199 0.541103 15.4593C-0.18 14.7382 -0.18 13.5697 0.541103 12.848L5.38888 7.99981L0.540827 3.15144C-0.180276 2.43033 -0.180276 1.26152 0.540827 0.540414C1.26179 -0.180138 2.42992 -0.180138 3.15116 0.540414L7.99999 5.38884L12.8485 0.540414C13.5698 -0.180138 14.7381 -0.180138 15.4589 0.540414C16.1803 1.26152 16.1803 2.43033 15.4592 3.15144Z"
                fill="#858FA4"
              />
            </svg>
          </button>
        </div>
        <h3 class="menu__title menu-window__title">Для дома</h3>
        <nav class="menu-window-nav">
          <a href="#" class="menu-window-nav__item">
            <span class="menu-window-nav__item_text">Кардиотренажеры</span>
            <span class="menu-window-nav__item_arrow"> &#8594;</span>
          </a>
          <a href="#" class="menu-window-nav__item">
            <span class="menu-window-nav__item_text">Силовые тренажеры</span>
            <span class="menu-window-nav__item_arrow"> &#8594;</span>
          </a>
          <a href="#" class="menu-window-nav__item">
            <span class="menu-window-nav__item_text">Уличные виды спорта</span>
            <span class="menu-window-nav__item_arrow"> &#8594;</span>
          </a>
          <a href="#" class="menu-window-nav__item">
            <span class="menu-window-nav__item_text">Свободные веса</span>
            <span class="menu-window-nav__item_arrow"> &#8594;</span>
          </a>
          <a href="#" class="menu-window-nav__item">
            <span class="menu-window-nav__item_text">Игровые столы</span>
            <span class="menu-window-nav__item_arrow"> &#8594;</span>
          </a>
          <a href="#" class="menu-window-nav__item">
            <span class="menu-window-nav__item_text">Массажное оборудование</span>
            <span class="menu-window-nav__item_arrow"> &#8594;</span>
          </a>
          <a href="#" class="menu-window-nav__item">
            <span class="menu-window-nav__item_text">Фитнес аксессуары</span>
            <span class="menu-window-nav__item_arrow"> &#8594;</span>
          </a>
          <a href="#" class="menu-window-nav__item">
            <span class="menu-window-nav__item_text">Функциональный тренинг</span>
            <span class="menu-window-nav__item_arrow"> &#8594;</span>
          </a>
        </nav>
  </div>
  <div class="menu-clubs hide menu-window">
    <div class="menu-window-header">
      <button class="menu-window-header__button button-back button button_unbordered" data-back="clubs">
        Назад
      </button>
      <button
        class="menu-window-header__button_close menu-close button button_unbordered"
      >
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.4592 3.15144L10.6113 7.99986L15.4592 12.8481C16.1803 13.5694 16.1803 14.738 15.4592 15.4593C15.0989 15.8196 14.6265 15.9999 14.1544 15.9999C13.6814 15.9999 13.209 15.8199 12.849 15.4593L8.00004 10.6106L3.15143 15.4593C2.79118 15.8196 2.31876 15.9999 1.8462 15.9999C1.37378 15.9999 0.901677 15.8199 0.541103 15.4593C-0.18 14.7382 -0.18 13.5697 0.541103 12.848L5.38888 7.99981L0.540827 3.15144C-0.180276 2.43033 -0.180276 1.26152 0.540827 0.540414C1.26179 -0.180138 2.42992 -0.180138 3.15116 0.540414L7.99999 5.38884L12.8485 0.540414C13.5698 -0.180138 14.7381 -0.180138 15.4589 0.540414C16.1803 1.26152 16.1803 2.43033 15.4592 3.15144Z"
            fill="#858FA4"
          />
        </svg>
      </button>
    </div>
    <h3 class="menu__title menu-window__title">Для фитнес клубов</h3>
    <nav class="menu-window-nav">
      <a href="#" class="menu-window-nav__item">
        <span class="menu-window-nav__item_text">Кардиотренажеры</span>
        <span class="menu-window-nav__item_arrow"> &#8594;</span>
      </a>
      <a href="#" class="menu-window-nav__item">
        <span class="menu-window-nav__item_text">Грузоблочные тренажеры</span>
        <span class="menu-window-nav__item_arrow"> &#8594;</span>
      </a>
      <a href="#" class="menu-window-nav__item">
        <span class="menu-window-nav__item_text">Тренажеры на свободных весах</span>
        <span class="menu-window-nav__item_arrow"> &#8594;</span>
      </a>
      <a href="#" class="menu-window-nav__item">
        <span class="menu-window-nav__item_text">Функциональный тренинг</span>
        <span class="menu-window-nav__item_arrow"> &#8594;</span>
      </a>
      <a href="#" class="menu-window-nav__item">
        <span class="menu-window-nav__item_text">СПА, массаж</span>
        <span class="menu-window-nav__item_arrow"> &#8594;</span>
      </a>
      <a href="#" class="menu-window-nav__item">
        <span class="menu-window-nav__item_text">Спортивная медицина</span>
        <span class="menu-window-nav__item_arrow"> &#8594;</span>
      </a>
      <a href="#" class="menu-window-nav__item">
        <span class="menu-window-nav__item_text">Свободные веса</span>
        <span class="menu-window-nav__item_arrow"> &#8594;</span>
      </a>
      
    </nav>
</div>
      <div class="menu-phone">
        <span class="menu-catalog-phone__item header-phone-choosen__item_white"
          >+7 (800) 999-00-00</span
        >
        <button
          class="menu-phone__button callBack-btn header-phone__button button button_red"
        >
          Заказать звонок
        </button>
      </div>
      <div class="menu-links">
        <button class="partnership-btn menu-links__item button">Для дилеров</button>
        <button class="partnership-btn menu-links__item button"
          >Become a Partner</button
        >
      </div>
    </div>
    
  </div>
</div>
