<div class="news">
  <div class="container news-container">
    <div class="news-heading">
      <h3 class="heading news-heading__heading">Новости</h3>
      <button class="news-heading__button button button_unbordered">
        Блог
      </button>
    </div>
    <div class="news-cards">
      <div class="news-cards__item news-card">
        <img src="./images/news.jpg" alt="" class="news-card__img" />
        <div class="news-card-content">
          <h4 class="news-card__heading">
            В продажу поступили тренажеры Nautilus
          </h4>
          <p class="news-card__paragraf">
            Представляем тренажеры Nautilus 626 серии.
          </p>
          <p class="news-card__paragraf news-card__paragraf_light">
            2021.07.18
          </p>
        </div>
      </div>
      <div class="news-cards__item news-card">
        <img src="./images/news.jpg" alt="" class="news-card__img" />
        <div class="news-card-content">
          <h4 class="news-card__heading">
            В продажу поступили тренажеры Nautilus
          </h4>
          <p class="news-card__paragraf">
            Представляем тренажеры Nautilus 626 серии.
          </p>
          <p class="news-card__paragraf news-card__paragraf_light">
            2021.07.18
          </p>
        </div>
      </div>
      <div class="news-cards__item news-card">
        <img src="./images/news.jpg" alt="" class="news-card__img" />
        <div class="news-card-content">
          <h4 class="news-card__heading">
            В продажу поступили тренажеры Nautilus
          </h4>
          <p class="news-card__paragraf">
            Представляем тренажеры Nautilus 626 серии.
          </p>
          <p class="news-card__paragraf news-card__paragraf_light">
            2021.07.18
          </p>
        </div>
      </div>
    </div>
    <button class="news__button button button_red button_banner">
      Все новости
    </button>
  </div>
</div>
