<div class="news">
  <div class="container news-container">
    <div class="news-heading">
      <h3 class="heading news-heading__heading">Новости</h3>
      <button class="news-heading__button button button_unbordered">
        Блог
      </button>
    </div>

    <div class="slider news-slider">
      <div class="news-cards slider-wrapper"></div>
      <div class="news-controls slider-controls">
        <button
          class="
            slider-controls__prev
            news-controls__item_prev
            button button_red button_round
            hide
          "
        >
          &#8592;
        </button>
        <button
          class="
            slider-controls__next
            news-controls__item_next
            button button_red button_round
          "
        >
          &#8594;
        </button>
      </div>
    </div>

    <button class="news__button button button_red button_banner">
      Все новости
    </button>
  </div>
</div>
