<div class="sign modal">
  <div class="modal-wrapper">
    <div class="sign-content">
      <div class="modal-button sign-close">
        <svg
          width="16"
          height="15"
          viewBox="0 0 16 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.4592 2.92849L10.6113 7.31146L15.4592 11.6942C16.1803 12.3464 16.1803 13.4027 15.4592 14.0548C15.0989 14.3806 14.6265 14.5435 14.1544 14.5435C13.6814 14.5435 13.209 14.3808 12.849 14.0548L8.00004 9.67158L3.15143 14.0548C2.79118 14.3805 2.31876 14.5435 1.8462 14.5435C1.37378 14.5435 0.901677 14.3808 0.541103 14.0548C-0.18 13.403 -0.18 12.3466 0.541103 11.6942L5.38888 7.31142L0.540827 2.92849C-0.180276 2.27661 -0.180276 1.22 0.540827 0.568125C1.26179 -0.0832551 2.42992 -0.0832551 3.15116 0.568125L7.99999 4.9511L12.8485 0.568125C13.5698 -0.0832551 14.7381 -0.0832551 15.4589 0.568125C16.1803 1.22 16.1803 2.27661 15.4592 2.92849Z"
            fill="#858FA4"
            class="modal-button__svg sign-close__svg"
          />
        </svg>
      </div>

      <div class="sign-in">
        <h3 class="sign__title modal__title">Вход в личный кабинет</h3>
        <div class="sign-buttons">
          <button
            class="
              sign-buttons__item
              button button_full-white
              sign-buttons__item_active
            "
          >
            Покупатель
          </button>
          <button class="sign-buttons__item button button_full-white">
            Авторизированный дилер
          </button>
        </div>
        <div class="sign-autorization">
          <span class="sign-autorization__text">Войти с помощью</span>
          <button class="sign-autorization-button button button_round">
            <img
              class="sign-autorization-button__img"
              src="./images/google-auth.svg"
              alt="google"
            />
          </button>
          <button class="sign-autorization-button button button_round">
            <img
              class="sign-autorization-button__img"
              src="./images/fb-auth.svg"
              alt="facebook"
            />
          </button>
        </div>
        <form class="sign-form">
          <input
            type="email"
            class="sign-form__input"
            placeholder="Ваша почта"
          />
          <input
            type="password"
            class="sign-form__input"
            placeholder="Пароль"
          ></input>
          <button class="sign-form__button_show-pswd button button_unbordered"><img class="sign-form__img" src="./images/show-pswd.svg" alt="show password"></button>
          <button
            class="
              sign-form__button sign-form__button_password
              button button_unbordered
            "
          >
            Забыли пароль?
          </button>
          <button
            class="
              sign-form__button sign-form__button_signin
              button button_full-red
            "
            type="submit"
          >
            Войти
          </button>
          <a href="#" class="sign__link">Зарегистрироваться</a>
        </form>
      </div>

      <div class="sign-restore-password hide">
        <h3 class="sign__title modal__title">Восстановить пароль</h3>
        <div class="sign-autorization">
          Мы отправим письмо со ссылкой для смены пароля на указанный Вами при
          регистрации адрес. Откройте письмо и перейдите по ссылке из письма.
        </div>
        <form class="sign-form">
          <input
            type="email"
            class="sign-form__input sign-form__input_restore"
            placeholder="Ваша почта"
          />
          <button
            class="
              sign-form__button sign-form__button_restore
              button button_full-red
            "
            type="submit"
          >
            Восстановить пароль
          </button>
        </form>
      </div>
      <div class="sign__error hide">На данный момент личный кабинет находится в разработке. Для оформления заказа позвоните по телефону вашего региона. Приносим свои извенения за неудобство!</div>
    </div>
  </div>
</div>
